.card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: #28282b;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  border-radius: 10px;
}

.card p {
  text-align: start;
}

.card a {
  padding: 10px 20px;
}
