.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.main-content h2 span {
  color: #e50914;
}

.main-content img {
  margin: 20px 0;
}

.main-content p {
  margin-top: 20px;
}
