.movie {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.movie h1 {
  width: 100%;
  margin-top: 100px;
}

.movie div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
